<div class="container">
  <div class="header clearfix">
    <h3 class="text-muted">Test task for Nazar</h3>
  </div>

  <div class="jumbotron">
    <h2>File structure in current directory</h2> 
    <p class="lead">Please, click on the button below to scan the current folder.</p>
    <a id="scan_btn" class="btn btn-lg btn-success" href="" role="button">Scan</a>
  </div>

    <div class="col-lg-6">
      <h3>Directories:</h3>
      <div id="jstree_json_dirs" style="margin:10px">
      </div> 
    </div>

    <div class="col-lg-6">
      <h3>Files:</h3>
      <div id="jstree_json_files" style="margin:10px">
      </div> 
    </div>

</div>